.body {
  overflow-x: hidden;
}

.contents {
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-weight: normal;
}

.overview{
  /* padding-right: 225%; */
  font-size: 20px;
  /* padding: 35px 350px 0px 45px; */
  padding: 1% 10% 0% 5.5%;
}

.container {
  overflow: hidden;
  padding: 0% 0% 0% 4.5%;
}

.filter-div {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 30%;
  line-height: 100px;
  text-align: center;
  margin: 25px 15px;
  display: none;
  /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  margin-left:20px;                             /*adds space between buttons */
  border-radius: 5px;                           /*adds roundness */
  background-color: #f1f1f1;
  cursor: pointer;
  transform: translate(50px, 7px);
  font-size: 14px;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active-b {
  background-color: black;
  color: #F25D50;;
}

.merch-img {
  width: 100%;
  height: auto;
  display: block;
}

.filter {
  background-color: #535252;
  padding: 20px;
}

/* .filter-section {
  /* padding-top: 0%; */
  /* padding-right: 300px; */
  /* width: 100%; */
  /* padding: 0%; */
/* } */

@media screen and (max-width: 600px) {
  .filter-div {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .filter-section {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
