body {
  margin:0;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topnav{
  overflow: hidden;
  background-color: black;
  padding: 0 2%;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 17px;
  font-weight:normal;
}

/* hamburger menu icon */
.topnav .icon {
  display: none;
}

.topnav a:hover {
  color: #555;
  /* font-size: 105% */
  /* transition-timing-function: ease-in-out; */
}

@media screen and (max-width: 600px) {
  .topnav a:not(:nth-child(-n+3)){
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive.icon{
    position: absolute;;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

div img.animated-gif{
  width: 100%;
  height: 680px;
}

div .textInfo{
  /* font-stretch:ultra-expanded; */
  font-weight: 300;
  font-size: 18px;
}
